<ion-list>
  <ion-item
    button
    *ngFor="let pokemon of pokemons"
    button
    [routerLink]="['/detalhes', pokemon.id]"
  >
    <ion-avatar slot="start">
      <img
        [src]="
          'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/' +
          pokemon.id +
          '.png'
        "
        [alt]="pokemon.name"
      />
    </ion-avatar>
    <ion-label>
      <ion-text
        color="medium"
        style="
          min-width: 5ch;
          text-align: right;
          font-size: 0.8em;
          margin-right: 8px;
          display: inline-block;
        "
      >
        #{{ pokemon.id }}
      </ion-text>
      <ion-text class="ion-text-capitalize">{{ pokemon.name }}</ion-text>
    </ion-label>
  </ion-item>
</ion-list>
