<div *ngIf="pokemon">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">
        #{{ pokemon.id }} {{ pokemon.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" class="ion-text-capitalize">
          #{{ pokemon.id }} {{ pokemon.name }}
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <ion-img
            [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/' + pokemon.id + '.png'"
            [alt]="pokemon.name"
            style="width: 70%; max-width: 512px; margin: auto"
          />
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6" class="ion-padding">
          <div
            class="ion-justify-content-between ion-align-items-end"
            style="display: flex"
          >
            <ion-text>
              <h5 class="ion-no-margin" style="font-weight: bold">Altura</h5>
              <p class="ion-no-margin">{{ pokemon.height / 10 }}m</p>
            </ion-text>

            <div style="display: flex; gap: 8px">
              <ion-badge
                *ngFor="let data of pokemon.types"
                class="ion-text-capitalize"
                style="font-size: 1rem; padding: 8px 12px"
                color="light"
              >
                {{ data.type.name }}
              </ion-badge>
            </div>

            <ion-text class="ion-text-right">
              <h5 class="ion-no-margin" style="font-weight: bold">Peso</h5>
              <p class="ion-no-margin">{{ pokemon.weight / 10 }}kg</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="font-weight: bold">
                Habilidades
              </ion-card-title>
            </ion-card-header>

            <ion-card-content class="ion-no-padding">
              <ion-list>
                <ion-item
                  *ngFor="let data of pokemon.abilities; let isLast = last"
                  [lines]="isLast ? 'none' : 'full'"
                >
                  <ion-label class="ion-text-capitalize">
                    {{ data.ability.name }}
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="font-weight: bold">
                Estatísticas
              </ion-card-title>
            </ion-card-header>

            <ion-card-content class="ion-no-padding">
              <ion-list lines="none">
                <ion-item *ngFor="let data of pokemon.stats">
                  <ion-label
                    class="ion-text-capitalize"
                    style="text-wrap: nowrap"
                  >
                    {{ data.stat.name }}
                  </ion-label>

                  <div
                    style="
                      display: flex;
                      align-items: center;
                      gap: 8px;
                      width: 50%;
                    "
                  >
                    <ion-progress-bar [value]="data.base_stat / 120" />
                    <ion-text
                      class="ion-text-right"
                      style="font-weight: bold; min-width: 3ch"
                    >
                      {{ data.base_stat }}
                    </ion-text>
                  </div>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>

<div *ngIf="!pokemon" class="ion-text-center ion-padding-top">
  <ion-spinner name="circles" />
</div>
