<div *ngIf="pokemon">
  <ion-header [translucent]="true" [id]="'detalhes-header-' + pokemon.id">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="voltar()">
          <ion-icon slot="icon-only" name="arrow-back-outline" />
        </ion-button>
      </ion-buttons>
      <ion-title>
        <ion-text color="medium" style="font-size: 0.8em">
          #{{ pokemon.id }}
        </ion-text>
        <ion-text class="ion-text-capitalize"> {{ pokemon.name }} </ion-text>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button id="open-toast" (click)="toggleFavorito()">
          <ion-icon
            slot="icon-only"
            [name]="isFavorito ? 'heart' : 'heart-outline'"
            [color]="isFavorito ? 'primary' : ''"
          />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">
          <ion-text color="medium" style="font-size: 0.8em">
            #{{ pokemon.id }}
          </ion-text>
          <ion-text class="ion-text-capitalize"> {{ pokemon.name }} </ion-text>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col
          size="12"
          size-md="8"
          size-lg="6"
          class="ion-text-center bg-container"
        >
          <ion-button
            fill="clear"
            shape="round"
            [routerLink]="['/detalhes', pokemon.id - 1]"
            [disabled]="pokemon.id === 1"
            color="medium"
          >
            <ion-icon slot="icon-only" name="chevron-back" />
          </ion-button>
          <div class="bg-img" [ngStyle]="getRingStyle()">
            <span class="bg-ring-1"></span>
            <span class="bg-ring-2"></span>
            <span class="bg-ring-3"></span>
          </div>
          <div class="parallax-container">
            <ion-img
              *ngIf="showImg"
              [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/' + pokemon.id + '.png'"
              [alt]="pokemon.name"
              class="parallax-img"
              (ionImgDidLoad)="onImgLoad($event)"
            />
          </div>
          <ion-button
            fill="clear"
            shape="round"
            [routerLink]="['/detalhes', pokemon.id + 1]"
            [disabled]="pokemon.id === MAX_ID"
            color="medium"
          >
            <ion-icon slot="icon-only" name="chevron-forward" />
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6" class="ion-padding">
          <div
            class="ion-justify-content-center ion-align-items-center"
            style="display: flex"
          >
            <div style="display: flex; gap: 8px">
              <ion-badge
                *ngFor="let data of pokemon.types"
                class="ion-text-capitalize badge"
                style="font-size: 1rem; padding: 8px 12px"
                [ngStyle]="getBadgeStyle(data.type.name)"
              >
                {{ data.type.name }}
              </ion-badge>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6" class="ion-padding">
          <div
            class="ion-justify-content-between ion-align-items-end"
            style="display: flex"
          >
            <div style="display: flex; align-items: center; gap: 12px">
              <ion-icon name="resize" aria-hidden="true" size="large" />
              <ion-text>
                <h5 class="ion-no-margin" style="font-weight: bold">Altura</h5>
                <p class="ion-no-margin">{{ pokemon.height / 10 }}m</p>
              </ion-text>
            </div>

            <div style="display: flex; align-items: center; gap: 12px">
              <ion-icon name="barbell" aria-hidden="true" size="large" />
              <ion-text class="ion-text-right">
                <h5 class="ion-no-margin" style="font-weight: bold">Peso</h5>
                <p class="ion-no-margin">{{ pokemon.weight / 10 }}kg</p>
              </ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <ion-card class="main-style">
            <ion-card-header class="padding-card">
              <ion-card-title class="card-title bold">
                <ion-icon name="bonfire" aria-hidden="true" />
                <span>Habilidades</span>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list class="bg-transparent">
                <ion-item
                  *ngFor="let data of pokemon.abilities; let isLast = last"
                  [lines]="isLast ? 'none' : 'full'"
                  class="bg-transparent"
                >
                  <ion-label class="ion-text-capitalize" class="card-title">
                    <span class="ion-text-capitalize"
                      >{{ data.ability.name }}</span
                    >
                    <ion-icon
                      *ngIf="data.is_hidden"
                      color="medium"
                      name="eye-off"
                      aria-hidden="true"
                    />
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <ion-card class="main-style">
            <ion-card-header>
              <ion-card-title class="card-title bold">
                <ion-icon name="stats-chart" aria-hidden="true" />
                <span>Estatísticas</span>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content class="ion-no-padding">
              <ion-list lines="none" class="bg-transparent">
                <ion-item
                  *ngFor="let data of pokemon.stats"
                  class="bg-transparent"
                >
                  <ion-label
                    class="ion-text-capitalize"
                    style="text-wrap: nowrap"
                  >
                    {{ data.stat.name }}
                  </ion-label>

                  <div
                    style="
                      display: flex;
                      align-items: center;
                      gap: 8px;
                      width: 50%;
                    "
                  >
                    <ion-progress-bar
                      [value]="data.base_stat / 120"
                      [ngStyle]="getProgressBarStyle(pokemon.types[0].type.name)"
                      class="progress-bar"
                    />
                    <ion-text
                      class="ion-text-right"
                      style="font-weight: bold; min-width: 3ch"
                    >
                      {{ data.base_stat }}
                    </ion-text>
                  </div>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-toast
      [message]="toastMessage"
      duration="2000"
      position="top"
      [positionAnchor]="'detalhes-header-' + pokemon.id"
      [isOpen]="isToastOpen"
      (didDismiss)="setOpenToast(false)"
      mode="ios"
    />
  </ion-content>
</div>

<div
  *ngIf="!pokemon"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  "
>
  <ion-spinner name="circles" />
</div>
