:host {
  ion-content::part(scroll) {
    padding-bottom: 5rem;
  }
}

.badge {
  background-color: var(--badge-secondary-light);
  color: var(--badge-primary);
}

@media (prefers-color-scheme: dark) {
  .badge {
    background-color: var(--badge-secondary-dark);
  }
}

.progress-bar {
  --progress-background: var(--progress-bar-primary);
  --background: var(--progress-bar-secondary-light);
}

@media (prefers-color-scheme: dark) {
  .progress-bar {
    --background: var(--progress-bar-secondary-dark);
  }
}
