:host {
  ion-content::part(scroll) {
    padding-bottom: 5rem;
  }
}

.badge {
  background-color: var(--badge-secondary-light);
  color: var(--badge-primary);
}

@media (prefers-color-scheme: dark) {
  .badge {
    background-color: var(--badge-secondary-dark);
  }
}

.progress-bar {
  --progress-background: var(--progress-bar-primary);
  --background: var(--progress-bar-secondary-light);
}

@media (prefers-color-scheme: dark) {
  .progress-bar {
    --background: var(--progress-bar-secondary-dark);
  }
}

.img-detalhes {
  width: 70%;
  max-width: 512px;
  margin: auto;
  aspect-ratio: 1 / 1;
}

.img-detalhes::part(image) {
  opacity: 0;
  transform: scale(0.1);
  transition: 0.5s ease-in-out;
}

.img-detalhes.is-loaded::part(image) {
  opacity: 1;
  transform: scale(1);
}
